.container {
    background: #D8ECFE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 600px;
}

.about {
    display: flex;
    width: 1280px;
    position: relative;
    padding-left: 90px;
    padding-top: 159px;
    padding-bottom: 159px;
    padding-right: 603px;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;  
}

.about__wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-width: 650px;
    z-index: 3;
}

.about__text {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
    padding-right: 122px;
    margin-bottom: 40px;
}

.about::after {
    position: absolute;
    top: 57px;
    left: 830px;
    display: block;
    content: "";
    width: 276px;
    height: 607px;
    margin: auto;
    background: url("../../../assets/about.svg");
    background-repeat: no-repeat;
}

.about::before {
    position: absolute;
    display: block;
    content: "";
    top: 76px;
    right: 90px;
    border-radius: 50%;
    width: 446px;
    height: 447px;
    background-color: #C4E2FF;
}